
.main {
		background-image: url("../images/tarotgame.png");
		background-repeat: no-repeat;	

}

.panel {
	font-size: 20px;
	font-color: #1c3b55;
	width: 300px;
	height: 350px;
	margin-right: 50px;
	padding: 100px 20px 20px 20px;
	float: right;
}

.list-group {
	float: right;
	margin-top: 50px;
	width: 300px;
	height: 250px;
	margin-right: 20px;
	
}
